services:
  nginx:
    image: nginx:1.21
    ports:
      - 8083:80
    volumes:
      - ./src:/var/www/php:ro
      - ./.docker/nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - php
  php:
    image: php:8.1-fpm-alpine
    working_dir: /var/www/php
    volumes:
      - ./src:/var/www/php